.projectList {
  display: grid;
  justify-content: center;
  align-items: center;
}

.projectItem {
  display: flex;
}

@media screen and (min-width: 700px) {
  .projectList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .projectList {
    grid-template-columns: repeat(4, 1fr);
  }
}
