:root {
  --color-gray-500: #404040;
  --color-gray-400: #606060;
  --color-gray-300: #b0b0b0;
  --color-gray-200: #d5d5d5;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 800;
  --font-family-primary: "Nunito", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  text-align: center;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: var(--font-weight-extra-bold);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-gray-300);
  display: inline-block;
  transition: color 150ms ease-in-out;
  text-decoration-color: currentColor;
}

a:focus,
a:hover {
  color: var(--color-gray-400);
}

picture {
  overflow: hidden;
  position: relative;
  display: block;
}

picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

section {
  margin-top: 196px;
}

h2 {
  margin-bottom: 16px;
  font-size: clamp(100%, 1rem + 3vw, 2.125rem);
}

.subtitle {
  margin-bottom: 56px;
  padding: 0 3.2rem;
  font-size: clamp(100%, 1rem + 0.5vw, 1.25rem);
}

@media (min-width: 700px) {
  .subtitle {
    margin-bottom: 64px;
    padding: 0;
  }
}
