h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: clamp(100%, 1rem + 3vw, 2.125rem);
}

header {
  margin-top: 128px;
}

.profile-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.profile-image > img {
  width: 100%;
  height: 100%;
}

.hero-info {
  max-width: 80%;
  margin: 0 auto;
}

.hero-info > p {
  font-size: clamp(100%, 0.9rem + 1vw, 1.25rem);
  margin: 0.15em 0;
}

.hero-info > p:last-child {
  margin-top: 1em;
}

@media screen and (min-width: 700px) {
  h1 {
    margin-top: 0;
    text-align: left;
  }

  header {
    margin-top: 196px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-info {
    text-align: left;
    margin: 0 0 0 64px;
    max-width: 50%;
  }

  .profile-image {
    margin: unset;
  }
}
