.project-item {
  margin-top: 64px;
}

.project-info {
  max-width: 80%;
  margin: 0 auto;
  flex-basis: 100%;
}

.project-info > p > a {
  display: inline;
}

.project-title {
  margin-bottom: 0.75em;
  font-weight: var(--font-weight-bold);
  font-size: clamp(100%, 1rem + 3vw, 1.35rem);
}

.project-banner {
  margin-top: 36px;
  width: 100%;
  height: 100%;
}

.project-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}

.project-banner:focus > img,
.project-banner:hover > img {
  transform: scale(1.04);
}

@media screen and (min-width: 600px) {
  .project-list {
    display: grid;
    justify-content: center;
    grid-auto-rows: 1fr;
    grid-gap: 48px;
  }

  .project-item {
    display: flex;
    text-align: left;
    padding-left: 1.25em;
    margin-top: 0;
  }

  .project-info {
    width: 50%;
    margin-right: 2em;
  }

  .project-title {
    text-align: left;
  }

  .project-banner {
    flex-shrink: 0;
    width: 50%;
    margin-top: 0;
    border-radius: 16px 0 0 16px;
  }
}

@media screen and (min-width: 700px) {
  .project-item {
    padding: 0 1.25em;
    max-width: 800px;
  }

  .project-info {
    margin-right: 4em;
  }

  .project-banner {
    border-radius: 16px;
  }
}

@media screen and (min-width: 1800px) {
  .project-list {
    margin: 0 auto;
    grid-template-columns: 800px 800px;
  }
}
