@import "style/variables"
@import "style/mixins"

*,
*:before,
*:after
  box-sizing: border-box
  font-family: 'Nunito', sans-serif

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul
  text-align: center
  margin: 0
  padding: 0
  font-weight: normal
  color: $gray-500

ol,
ul
  list-style: none

img
  max-width: 100%
  height: auto


h1
  @include fluid-type(28px, 40px)
  font-weight: $extra-bold

h2
  @include fluid-type(28px, 36px)
  font-weight: $extra-bold

h3
  @include fluid-type(18px, 24px)
  font-weight: $bold

a,
p
  @include fluid-type(16px, 20px)
  font-weight: normal


