---
layout: base.njk
title: Victor Navarro | Software Developer
description: Personal website of Victor Navarro for portfolio and contact
---

<header>
    {% image "profile.jpg", "profile picture", "profile-image", [200], ["200px"] %}
    <div class="hero-info">
        <h1>Covandonga <span role="img" aria-label="hello">👋</span></h1>
        <p>Hi, I am Victor Navarro!</p>
        <p>When I was a child, my dream was to become an inventor</p>
        <p>This is my best attempt</p>
    </div>
</header>
<section class="about-section">
    <h2>About <span role="img" aria-label="potato">🥔</span></h2>
    <p class="subtitle">Here is what I&apos;m doing these days</p>
    <div class="container">
        <ul class="about-list">
            <li>
                Fullstack developer at <a href="https://bloobirds.com/">Bloobirds</a>
            </li>
            <li>
                Teacher in fullstack at <a href="https://nuclio.school/master-full-stack-developer/">Nuclio Digital
                    School</a>
            </li>
            <li>
                Streaming on <a href="https://twitch.tv/vimtor_">Twitch</a> from time to time
            </li>
            <li>Doing freelance jobs from time to time</li>
            <li>Always learning</li>
        </ul>
    </div>
    <p class="section-cto">
        If you are interested in my tech stack,<br/>you can check it out on
        <a href="https://stackshare.io/vimtor/my-stack">stackshare.io</a>
    </p>
</section>
<section>
    <h2>Experience <span role="img" aria-label="rocket">🚀</span></h2>
    <p class="subtitle">Some of the things I've built</p>
    <ul class="project-list">
        {% for project in collections.projects | sortByOrder | filterFeaturing %}
            {% set metadata = project.data %}
            {% set content = project.data.page.excerpt %}
            <li class="project-item">
                <div class="project-info">
                    <h3 class="project-title">{{ metadata.title }}</h3>
                    {{ content | safe }}
                    <a href="{{ metadata.source }}">{{ metadata.message }}</a>
                </div>
                <a href="{{ metadata.source }}" class="project-banner" aria-label="{{ metadata.title }} source">
                    {% image metadata.image, metadata.title, "", [380, 600], ["(min-width: 600px) 380px", "100vw"] %}
                </a>
            </li>
        {% endfor %}
        {% if collections.projects.length % 2 !== 0 %}
            <li class="project-placeholder">
                More coming soon...
            </li>
        {% endif %}
    </ul>
    <p class="section-cto">
        Check all of my projects <a href="/experience">here</a>
    </p>
</section>
<section>
    <h2>Contact <span role="img" aria-label="call me hand">🤙</span></h2>
    <p class="subtitle">Get in touch! I don't bite...</p>
    <div class="container">
        <form name="contact" class="contact-form" action="POST" data-netlify="true">
            <label>
                <span>Email address</span>
                <input type="email" name="email" placeholder="your@email.com" required>
            </label>
            <label>
                <span>Message</span>
                <textarea name="message" placeholder="I think you're very handsome..." rows="8" required></textarea>
            </label>
            <button class="contact-button" type="submit">
                Send it
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                     style="fill:currentColor">
                    <path d="M21.426,11.095l-17-8c-0.35-0.164-0.763-0.113-1.061,0.133C3.066,3.473,2.937,3.868,3.03,4.242l1.212,4.849L12,12 l-7.758,2.909L3.03,19.758c-0.094,0.374,0.036,0.77,0.335,1.015C3.548,20.923,3.772,21,4,21c0.145,0,0.29-0.031,0.426-0.095l17-8 C21.776,12.74,22,12.388,22,12S21.776,11.26,21.426,11.095z"></path>
                </svg>
            </button>
        </form>
    </div>
    <p class="section-cto">
        You can to contact me at <a href="mailto:victor@vimtor.io">victor@vimtor.io</a><br/>
        or reach out on social media <span role="img" aria-label="wink face">😉</span>
    </p>
</section>
<script>
  const emailInput = document.querySelector("input[name=\"email\"]");
  const messageInput = document.querySelector("textarea[name=\"message\"]");
  const contactButton = document.querySelector("button");

  contactButton.setAttribute("disabled", "");
  const handleInput = () => {
    if (emailInput.value && messageInput.value) {
      contactButton.removeAttribute("disabled");
    } else {
      contactButton.setAttribute("disabled", "");
    }
  };

  emailInput.addEventListener("input", handleInput);
  messageInput.addEventListener("input", handleInput);
</script>
