---
layout: base
title: Projects
description: List of projects made by Victor Navarro
---

<script src="/scripts/projects.js"></script>
<section x-data="projects()">
    <header class="projects-header">
        <div>
            <h1 class="projects-title">All my projects {% emoji '🚀', 'rocket' %}</h1>
            <p class="projects-subtitle">A list of projects I worked on that are worth mentioning</p>
        </div>
        <ul x-spread="labelList" x-ref="labelList" class="label-list scroll-shadow" aria-label="projects filter" role="menu">
            {% for label in collections.labels %}
                <li role="menuitemcheckbox" tabindex="0" class="label-item" x-spread="label('{{ label }}')" x-ref="{{ label }}">
                    {{ label }}
                </li>
            {% endfor %}
        </ul>
    </header>
    <ul class="project-list">
        {% for project in collections.projects %}
            {% set metadata = project.data %}
            {% set content = project.data.page.excerpt %}
            <li x-spread="project('{{ metadata.labels }}')" class="project-item">
                <div class="project-info">
                    <h3 class="project-title">{{ metadata.title }}</h3>
                    {{ content | safe }}
                    <a href="{{ metadata.source }}">{{ metadata.message }}</a>
                </div>
                <a href="{{ metadata.source }}" class="project-banner" aria-label="{{ metadata.title }} source">
                    <picture>
                        {% image metadata.image, metadata.title, [380, 600], ["(min-width: 600px) 380px", "100vw"] %}
                    </picture>
                </a>
            </li>
        {% endfor %}
        <li class="project-placeholder" x-spread="emptyPlaceholder">
            <template x-if="emptyMessage === 0">
                <p>
                    Oops, seems like you want me to work a bit too much {% emoji '😳', 'flushed face' %}
                </p>
            </template>
            <template x-if="emptyMessage === 1">
                <p>
                    I haven't build that yet {% emoji '😎', 'smiling face with sunglasses' %}
                </p>
            </template>
            <template x-if="emptyMessage === 2">
                <p>
                    Are you that interested?<br>We can <a href="/#contact">build that together</a>
                </p>
            </template>
            <template x-if="emptyMessage === 3">
                <p>
                    We can get married if you insist {% emoji '💍', 'wedding ring' %}
                </p>
            </template>
            <template x-if="emptyMessage === 4">
                <p>
                    I'm sure you have better things to do...
                </p>
            </template>
            <template x-if="emptyMessage >= 5">
                I leave you with something interesting to watch.<br>
                Sayonara baby!
                <script>
                    setTimeout(() => {
                      window.open("https://www.youtube.com/watch?v=4dC_nRYIDZU", "_self")
                    }, 4000)
                </script>
            </template>
        </li>
    </ul>
</section>
