---
layout: base
title: Projects
description: List of projects made by Victor Navarro
---

<script src="/scripts/projects.js"></script>
<section x-data="projects()">
    <header class="projects-header">
        <div>
            <h1 class="projects-title">All my projects</h1>
            <p class="projects-subtitle">A list of projects I worked on that are worth mentioning</p>
        </div>
        <ul class="label-list" aria-label="projects filter" role="menu">
            {% for label in collections.labels %}
                <li role="menuitemcheckbox" tabindex="0" class="label-item" x-spread="label('{{ label }}')" x-ref="{{ label }}">
                    {{ label }}
                </li>
            {% endfor %}
        </ul>
    </header>
    <ul class="project-list">
        {% for project in collections.projects | sortByOrder %}
            {% set metadata = project.data %}
            {% set content = project.data.page.excerpt %}
            <li x-spread="project('{{ metadata.labels }}')" class="project-item">
                <div class="project-info">
                    <h3 class="project-title">{{ metadata.title }}</h3>
                    {{ content | safe }}
                    <a href="{{ metadata.source }}">{{ metadata.message }}</a>
                </div>
                <a href="{{ metadata.source }}" class="project-banner" aria-label="{{ metadata.title }} source">
                    <picture>
                        {% image metadata.image, metadata.title, [380, 600], ["(min-width: 600px) 380px", "100vw"] %}
                    </picture>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
