:root {
  --color-gray-500: #404040;
  --color-gray-400: #606060;
  --color-gray-300: #b0b0b0;
  --color-gray-200: #d5d5d5;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 800;
  --font-family-primary: "Nunito", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  text-align: center;
  margin: 0;
}

h1,
h2 {
  font-weight: var(--font-weight-extra-bold);
}

ul,
li {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-gray-300);
  display: inline-block;
  transition: color 150ms ease-in-out;
  text-decoration-color: currentColor;
}

a:focus,
a:hover {
  color: var(--color-gray-400);
}

header {
  margin-top: 128px;
}

.profile-image {
  border-radius: 100%;
  width: 200px;
}

section {
  margin-top: 196px;
}

.subtitle {
  margin-bottom: 56px;
  padding: 0 3.2rem;
  font-size: clamp(100%, 1rem + 0.5vw, 1.25rem);
}

@media (min-width: 700px) {
  .subtitle {
    margin-bottom: 64px;
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  header {
    margin-top: 196px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: clamp(100%, 1rem + 3vw, 2.125rem);
}

h2 {
  margin-bottom: 16px;
  font-size: clamp(100%, 1rem + 3vw, 2.125rem);
}

@media screen and (min-width: 700px) {
  h1 {
    margin-top: 0;
    text-align: left;
  }
}

.hero-info {
  max-width: 80%;
  margin: 0 auto;
}

.hero-info > p {
  font-size: clamp(100%, 0.9rem + 1vw, 1.25rem);
  margin-bottom: 0.5em;
}

@media screen and (min-width: 700px) {
  .hero-info {
    text-align: left;
    margin: 0 0 0 64px;
    max-width: 50%;
  }
}

.project-item {
  margin-top: 64px;
}

.project-info {
  max-width: 80%;
  margin: 0 auto;
  flex-basis: 100%;
}

.project-title {
  margin-bottom: 0.75em;
  font-weight: var(--font-weight-bold);
  font-size: clamp(100%, 1rem + 3vw, 1.35rem);
}

.project-description {
  max-width: 80%;
  margin: 0 auto;
}

.project-description + .project-description {
  margin-top: 1em;
}

.project-banner {
  margin-top: 36px;
  width: 100%;
  border-radius: inherit;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}

.project-banner:focus,
.project-banner:hover {
  transform: scale(1.04);
}

@media screen and (min-width: 600px) {
  .project-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 600px);
    grid-gap: 24px;
  }

  .project-item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 2em;
    margin-top: 0;
    min-width: 600px;
  }

  .project-info {
    margin-right: 0.5em;
    max-width: 400px;
  }

  .project-description {
    max-width: 90%;
    margin: unset;
  }

  .project-title,
  .project-description {
    text-align: left;
  }

  .project-banner {
    margin-top: 0;
    border-radius: 16px;
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .project-banner {
    border-radius: 16px;
  }
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 9.6rem;
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-bottom: 3.2rem;
  bottom: 0;
  color: #b0b0b0;
}

.social-list {
  display: flex;
  width: 50%;
  max-width: 400px;
  justify-content: space-between;
}
