:root {
  --gray-500: #404040;
  --gray-400: #606060;
  --gray-300: #b0b0b0;
  --gray-200: #d5d5d5;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--gray-500);
}

a {
  color: var(--gray-300);
  transition: color 150ms ease-in-out;
  text-decoration-color: #d5d5d5;
}

a:hover {
  color: var(--gray-400);
  text-decoration-color: #808080;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
