:root {
  --color-gray-500: hsl(0, 0%, 18%);
  --color-gray-400: hsl(0, 0%, 27%);
  --color-gray-300: hsl(0, 0%, 44%);
  --color-gray-200: hsl(0, 0%, 62%);
  --color-gray-100: hsl(0, 0%, 84%);
  --color-background: white;
  --transparent: rgba(0, 0, 0, 0);
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 800;
  --font-family-primary: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-500: hsl(0, 0%, 90%);
    --color-gray-400: hsl(0, 0%, 75%);
    --color-gray-300: hsl(0, 0%, 70%);
    --color-gray-200: hsl(0, 0%, 44%);
    --color-gray-100: hsl(0, 0%, 18%);
    --color-background: hsl(0, 0%, 10%);
  }

  body {
    background-color: var(--color-background);
  }

  img {
    filter: brightness(0.9) contrast(1.1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  text-align: center;
  margin: 0;
  min-height: 100vh;
  scroll-padding-top: 64px;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

h1,
h2,
p,
ul {
  color: var(--color-gray-500);
}

h1,
h2 {
  margin: 0;
  font-weight: var(--font-weight-extra-bold);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-gray-300);
  display: inline-block;
  transition: all 150ms ease-in-out;
  text-decoration-color: var(--color-gray-200);
}

a:focus,
a:hover {
  color: var(--color-gray-500);
  text-decoration-color: var(--color-gray-300);
}

picture {
  overflow: hidden;
  position: relative;
  display: block;
}

picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15), inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes bounce {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(1rem) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@media (min-width: 600px) {
  @keyframes fly-in {
    from {
      opacity: 0;
      transform: translateY(-1rem) translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }
}

@keyframes blur-in {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0px);
  }
}

.emoji {
  display: inline-block;
}

.wiggle {
  animation: wiggle 1s;
}

header {
  margin-top: 96px;
}

/* Hero */
.home-header {
  margin-top: 128px;
}

.hero-title {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: clamp(100%, 1rem + 3vw, 2.125rem);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100%;
  outline: none;
  transition: all 200ms;
}

.profile-container:focus,
.profile-container:hover {
  opacity: 0.9;
  box-shadow: 0 0 0 3px var(--color-gray-500);
}

.profile-bubble {
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
  position: absolute;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 8px;
  top: -4.25rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fly-in 0.5s ease-in-out forwards 3s;
}

.profile-bubble-arrow {
  width: 1rem;
  height: 1rem;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  stroke-width: 20;
  stroke: var(--color-gray-500);
  stroke-linejoin: round;
  stroke-linecap: round;
  transform: translateX(-50%) rotateZ(180deg);
  left: 50%;
  bottom: -0.75rem;
}

@media (min-width: 700px) {
  .profile-bubble {
    top: unset;
    bottom: -4rem;
    width: fit-content;
  }

  .profile-bubble-arrow {
    top: -0.75rem;
    transform: translateX(-50%) rotateZ(0deg);
  }
}

.profile-image {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  animation: blur-in 0.5s ease-in-out;
}

.bounce-in {
  opacity: 0;
  animation: bounce 0.7s cubic-bezier(0.15, 1.5, 0.5, 1) forwards 0.5s;
}

.profile-image > img {
  width: 100%;
  height: 100%;
}

.hero-info {
  max-width: 80%;
  margin: 0 auto;
  opacity: 0;
  animation: fade 0.7s ease-in-out forwards 1s;
}

.hero-info > p {
  font-size: clamp(100%, 0.9rem + 1vw, 1.25rem);
  margin: 0.15em 0;
}

.hero-info > p:last-child {
  margin-top: 1em;
}

@media (min-width: 700px) {
  .hero-title {
    margin-top: 0;
    text-align: left;
  }

  .home-header {
    margin-top: 196px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-info {
    text-align: left;
    margin: 0 0 0 64px;
    max-width: 50%;
  }

  .profile-image {
    margin: unset;
  }
}

.home-section {
  margin-top: 156px;
}

.home-title {
  margin-bottom: 16px;
  font-size: clamp(100%, 1rem + 3vw, 2.125rem);
}

.home-subtitle {
  margin-bottom: 48px;
  font-size: clamp(100%, 1rem + 0.5vw, 1.25rem);
}

@media (min-width: 700px) {
  .home-subtitle {
    padding: 0;
  }
}

/* Projects */
.project-item {
  transition: all 100ms ease-in;
  margin-top: 64px;
}

.project-info {
  max-width: 90%;
  margin: 0 auto;
  flex-basis: 100%;
}

.project-info > p > a {
  display: inline;
}

.project-title {
  margin: 0 0 0.75em;
  font-weight: var(--font-weight-bold);
  font-size: clamp(100%, 1rem + 3vw, 1.35rem);
}

.project-banner {
  display: block;
  margin-top: 36px;
  width: 100%;
  height: 256px;
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.project-banner:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-gray-500);
}

.project-placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-size: 1.125rem;
}

.project-placeholder > * {
  animation: fade 200ms ease-in-out;
}

@media screen and (min-width: 600px) {
  .project-list {
    display: grid;
    justify-content: center;
    grid-auto-rows: 1fr;
    grid-gap: 48px;
    min-height: 250px;
  }

  .project-item {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 1.25em;
    margin-top: 0;
  }

  .project-info {
    width: 50%;
    margin-right: 2em;
  }

  .project-title {
    text-align: left;
  }

  .project-banner {
    flex-shrink: 0;
    width: 50%;
    max-height: 250px;
    margin-top: 0;
    border-radius: 16px 0 0 16px;
    height: 100%;
  }
}

@media screen and (min-width: 700px) {
  .project-item {
    padding: 0 1.25em;
    max-width: 800px;
    min-height: 250px;
  }

  .project-info {
    margin-right: 4em;
  }

  .project-banner {
    border-radius: 16px;
  }
}

@media screen and (min-width: 1800px) {
  .project-list {
    margin: 0 auto;
    grid-template-columns: 800px 800px;
  }

  .project-placeholder {
    grid-column: 1 / -1;
  }
}

/* About */
.about-section {
  opacity: 0;
  animation: fade 1s ease-in-out forwards 2s;
}

.about-list {
  list-style: disc inside none;
  text-align: left;
  margin: 0;
  font-size: clamp(100%, 0.75rem + 1vw, 1.25rem);
  line-height: 150%;
}

/* Contact */
.container {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90%;
}

.contact-form > label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 24px;
}

.contact-form > label > span {
  margin-bottom: 8px;
  color: var(--color-gray-300);
}

textarea {
  resize: vertical;
}

textarea,
input {
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.75em 1em;
  border: 1px solid transparent;
  font-family: var(--font-family-primary);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15), inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--color-gray-200);
}

textarea::placeholder,
input::placeholder {
  color: var(--color-gray-200);
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-primary);
  font-size: 1rem;
  padding: 0.5em 0;
  border-radius: 8px;
  color: white;
  background-color: var(--color-gray-400);
  cursor: pointer;
  border: none;
  transition: background-color 300ms ease-in-out;
}

.contact-button:focus,
.contact-button:hover {
  background-color: var(--color-gray-500);
}

.contact-button:disabled {
  cursor: auto;
  background-color: var(--color-gray-200);
}

@media (prefers-color-scheme: dark) {
  .contact-button {
    color: var(--color-gray-500);
    border: 1px var(--color-gray-500) solid;
    background-color: transparent;
  }

  .contact-button:focus,
  .contact-button:hover {
    color: var(--color-gray-100);
    border: 1px var(--color-gray-100) solid;
    background-color: var(--color-gray-500);
  }

  .contact-button:disabled {
    color: var(--color-gray-200);
    border: 1px var(--color-gray-200) solid;
    background-color: transparent;
  }
}

.contact-button > svg {
  margin-left: 8px;
}

.section-cto {
  font-size: clamp(100%, 0.75rem + 1vw, 1.25rem);
  margin: 48px auto 0 auto;
  max-width: 550px;
  padding: 0 2em;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 9.6rem;
  border-top: 1px solid var(--color-gray-100);
  color: var(--color-gray-300);
  padding: 32px 0 64px 0;
}

.social-list {
  display: flex;
  width: 75%;
  max-width: 300px;
  justify-content: space-between;
}

.social-item > a > svg {
  width: 24px;
  height: 24px;
}

.copyright {
  margin-top: 3em;
}

@media (min-width: 600px) {
  .social-list {
    max-width: 400px;
  }

  .social-item > a > svg {
    width: 32px;
    height: 32px;
  }
}

.projects-header {
  margin-bottom: 4rem;
}

.projects-title {
  text-align: center;
  font-size: 2rem;
}

.projects-subtitle {
  text-align: center;
  font-size: 1rem;
  padding: 0 2em;
}

@media (min-width: 600px) {
  .projects-title {
    font-size: 2.25rem;
  }

  .projects-subtitle {
    font-size: 1.125rem;
  }
}

.label-list {
  display: flex;
  max-width: 90%;
  margin: 2rem auto 0;
  overflow-x: auto;
  position: relative;
}

.scroll-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: linear-gradient(to right, var(--transparent) 0%, var(--color-background) 90%);
}

@media (min-width: 600px) {
  .scroll-shadow::before {
    background: none;
  }
}

.label-item {
  text-transform: capitalize;
  border: 1px solid var(--color-gray-300);
  border-radius: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-right: 1rem;
  flex-shrink: 0;
  user-select: none;
  transition: all 100ms ease-in;
  outline: none;
}

.label-item:last-child {
  margin-right: 0;
}

.label-item:hover,
.label-item:focus {
  background-color: var(--color-gray-100);
}

.label-item.selected {
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
}

@media (prefers-color-scheme: light) {
  .label-item.selected {
    color: white;
  }
}

@media (min-width: 600px) {
  .label-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .label-item {
    margin-bottom: 1em;
  }
}

@media (min-width: 1200px) {
  .label-list {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .label-list {
    max-width: 55%;
  }
}

@media (min-width: 1600px) {
  .label-list {
    max-width: 35%;
  }
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.hidden {
  display: none;
}
